.rflg-layout-guide,
.rflg-inner-column-grid,
.rflg-inner-row-grid {
  position: fixed;
  inset: 0;
  display: grid;
  pointer-events: none;
  z-index: 999999999; /* Nine 9s */
}

.rflg-layout-guide.rflg-absolute,
.rflg-inner-column-grid.rflg-absolute,
.rflg-inner-row-grid.rflg-absolute {
  position: absolute;
}

.rflg-display {
  .rflg-layout-track {
    opacity: 1 !important;
  }
  .rflg-grid-column {
    opacity: 1 !important;
  }
  .rflg-grid-row {
    opacity: 1 !important;
  }
}

.rflg-layout-track {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  opacity: 0;
  transition: opacity 0.15s var(--delay) ease-out;
}

/* Layout options ----------------------------*/
.rflg-grid {
  .rflg-inner-column-grid {
    /* * Need to specify the exact number of columns or rows in order to prevent a mismatch with browser vs my calculations */
    grid-template-columns: repeat(var(--grid-columns), var(--size));

    .rflg-grid-column {
      height: 100%;
      width: 100%;
      border-left: 1px solid var(--bg-color);
      opacity: 0;
      transition: opacity 0.15s var(--delay) ease-out;

      &:last-child {
        border-right: 1px solid var(--bg-color);
      }
    }
  }

  .rflg-inner-row-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--grid-rows), var(--size));

    .rflg-grid-row {
      height: 100%;
      width: 100%;
      border-top: 1px solid var(--bg-color);
      opacity: 0;
      transition: opacity 0.15s var(--delay) ease-out;

      &:last-child {
        border-bottom: 1px solid var(--bg-color);
      }
    }
  }
}

.rflg-columns {
  grid-template-columns: repeat(var(--count), 1fr);
  gap: var(--gutter);
}

.rflg-rows {
  grid-template-rows: repeat(var(--count), 1fr);
  gap: var(--gutter);
}

/* Layout option types ------------------------ */
.rflg-stretch.rflg-columns {
  margin-inline: var(--margin);
}
.rflg-stretch.rflg-columns.rflg-overlay-width {
  width: var(--overlay-width, 100%);
}

.rflg-stretch.rflg-rows {
  margin-block: var(--margin);
}

.rflg-left,
.rflg-right,
.rflg-center {
  margin-inline: 0;
}

.rflg-left.rflg-columns,
.rflg-right.rflg-columns,
.rflg-center.rflg-columns {
  grid-template-columns: repeat(var(--count), var(--column-width));
}

.rflg-center.rflg-rows,
.rflg-top.rflg-rows,
.rflg-bottom.rflg-rows {
  grid-template-rows: repeat(var(--count), var(--row-height));
}

.rflg-left {
  left: 0;
  top: 0;
  bottom: 0;
  right: unset;
  margin-left: var(--offset);
  width: fit-content;
}

.rflg-right {
  top: 0;
  bottom: 0;
  right: 0;
  left: unset;
  margin-right: var(--offset);
  width: fit-content;
}

.rflg-center.rflg-columns {
  top: 0;
  bottom: 0;
  left: 50%;
  right: unset;
  transform: translateX(-50%);
  width: fit-content;
}

.rflg-rows.rflg-center {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  bottom: unset;
  height: fit-content;
}

.rflg-top {
  top: 0;
  bottom: unset;
  margin-top: var(--offset);
  height: fit-content;
}

.rflg-bottom {
  top: unset;
  bottom: 0;
  margin-bottom: var(--offset);
  height: fit-content;
}
